// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

// @coul1: #FFBF00;
// @coul1: #D78E2D;
@coul1: black;
@coul2: black;
// @coul2: #1e4ea6;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   none;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

//  GLOBAL + GRILLE
body{
  font-family: 'youngSerif', 'sans-serif';
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    position: fixed;
    font-size: 55pt;
    line-height: 1.07;
    .contentcontent{
      position: absolute;
      top: @unitHeight;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      .titre, .date, .lieu, .people{
        position: relative;
        z-index: 1;
        color: @coul1;
      }
      .titre, .lieu{
        color: @coul2;
      }
      .people{
      }
      span{
        background: white;

      }
      span:nth-of-type(2){
        color: @coul2;
      }
    }
    .texteSteph{
      font-size: 42pt;
      position: absolute;
      top: @unitHeight / 5;
      left: @posterWidth / 2;
      width: (@posterWidth / 2) - @unitWidth*2;
      color: @coul1;
      text-align: right;
      // transform: rotate(90deg);
      // column-count: 2;
    }
    .rectangle{
      position: absolute;
      height: 1cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /2) - 1px;
      z-index: 0;
      // background: red;
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }

  #contentVerso{
    color: @coul1;
    font-size: 14pt;
    line-height: 1.25;
    text-align: justify;
    text-align-last: justify;
    #eveque, #poisson{
      div{
        width: @posterHeight / 4;
        heihgt: @posterWidth / 2;
        position: absolute;
        color: @coul1;
        padding: @unitWidth @unitHeight/2;
        // display: none;
        h1, h2, h3{
          display: inline;
          background: @coul1;
          color: white;
        }
        ul{
          li{
            span:nth-of-type(1){
              border: 2pt solid @coul1;
            }
            span:nth-of-type(4){
              font-size: .5em;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    #eveque{
      .col1{
        top: 14.9cm;
        left: 6.1cm;
        transform: rotate(90deg);
      }
      .col2{
        transform: rotate(-90deg);
        left: 24.6cm;
        top: 11.3cm;
      }
      .col3{
        font-size: 10pt;
        display: inline;
        transform: rotate(-90deg);
        left: 20.8cm;
        top: 0.2cm;

      }
      .col4{
        font-size: 16pt;
        transform: rotate(90deg);
        top: -1.4cm;
        left: 4.7cm;
        div{
          padding: 0;
          width: @posterWidth/3.5;
        }
      }
    }
    #poisson{
      .col1{
        top: 44.6cm;
        left: 6.1cm;
        // background: yellow;
        transform: rotate(90deg);
      }
      .col2{
        transform: rotate(-90deg);
        top: 43.8cm;
        left: 21.7cm;
      }
      .col3{
        transform: rotate(-90deg);
        top: 27.7cm;
        left: 23cm;
      }
      .col4{
        transform: rotate(90deg);
        top: 29.6cm;
        left: 6cm;
      }top: @posterHeight / 2;
    }
  }

// FIN CONTENU

}

@media print{
  @page{
    size: A2 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
      position: initial;
    }
    #contentVerso, #contentRecto{
      size: A3 portrait;
    }
    #pageVerso, #contentVerso{
      // display: none;
    }
    #contentRecto, #contentVerso{
      color: white;
    }
  }
}
