
/*Candal-mod*/
@font-face {
    font-family: 'Candal-mod';
    src: url('Candal-mod/Candal-mod.eot'); /* IE 9 Compatibility Mode */
    src: url('Candal-mod/Candal-mod.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Candal-mod/Candal-mod.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Candal-mod/Candal-mod.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Candal-mod/Candal-mod.svg#Candal-mod') format('svg'); /* Chrome < 4, Legacy iOS */
    }
