
/*CatShop*/
@font-face {
    font-family: 'CatShop';
    src: url('CatShop/CatShop.eot'); /* IE 9 Compatibility Mode */
    src: url('CatShop/CatShop.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('CatShop/CatShop.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('CatShop/CatShop.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CatShop/CatShop.svg#CatShop') format('svg'); /* Chrome < 4, Legacy iOS */
    }
