// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

// @coul1: #FFBF00;
// @coul1: #D78E2D;
//@coul1: black;
@coul1: #f15060;
// @coul2: #1e4ea6;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   none;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

@import "fontes/candal-mod/Candal-mod/Candal-mod-stylesheet.css";
@import "fontes/Computer Modern/Typewriter Variable/cmun-typewriter-variable.css";

//  GLOBAL + GRILLE
body{
  font-family: 'Candal-mod';
  margin: 10px;
  transform: scale(1.8);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    // transform: rotate(90deg);
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    position: fixed;
    color: @coul1;
    font-size: 10.31pt;
    // transform: rotate(-90deg);
    line-height: 1.6;
    #eveque, #poisson{
      div{
        width: @posterHeight / 4;
        height: @posterWidth / 2;
        position: absolute;
        color: @coul1;
        padding: @unitWidth * 2 @unitHeight/2;
        h1, h2, h3{
          display: inline;
          // background:@coul1;
          color: @coul1;
          text-align: justify;
          text-align-last: justify;
          padding: 0.5mm 2mm;
        }
        h2{

          text-transform: uppercase;
          width: 100%;
      position: absolute;
      background: none;
          margin-bottom: 2mm;
          font-size: 13.25pt;
       line-height: 1.28;
          span{
            transform: rotate(-45deg);
            display: inherit;
          }
        }
        h3{
          display: block;
          line-height: 1.28;
          // border: 1px solid @coul1;
          box-shadow: inset 0px 0px 0px 1px green;

          border-radius: 10px;
          margin: 0 -1px;
          margin-bottom: 1px;
        }
        ul{
          li{
            .dateType{
              // margin: 0.6mm 0;
            }
            .dateType, .peopleType{
               text-align: justify;
               text-align-last: justify;
                margin: 0.5px 0;
              .date{
                padding: 0 1mm;
                // padding-bottom: 0.8:mm;
                box-shadow: inset 0px 0px 0px 1px @coul1;
              }
            }
            .type{
            	font-family: 'Computer Modern Typewriter Variable';
              margin-left: 1.5mm;
             text-transform: uppercase;
             font-size: .6em;
             display: inline-block;
             letter-spacing: -0.05em
            //  vertical-align: middle;
            }
            .title{
              text-align-last: right;
              text-align: right;
            }
            .people{
              text-align-last: justify;
              text-align: justify;
            }
            .place{
            	font-family: 'Computer Modern Typewriter Variable';
              font-style: italic;
              font-weight: bold;
              text-align-last: right;
              display: inline-block;
            }
          }
        }
      }
    }
    #eveque{
    .letterspacing{
      letter-spacing: -0.03em;
      font-weight: bold;
      font-style: italic;
    }
    .thinsp{
      letter-spacing: -0.15em;
    }
    .thinsp2{
      letter-spacing: -0.06em;
    }
    .space{
      letter-spacing: -0.1em;
    }
     #title{
       position: fixed;
       transform: rotate(90deg);
      font-size: 18pt;
      display: block;
      text-align: center;
      margin-bottom: 4mm;
        width: 13cm;
        margin-left: (14.85cm / 2) + @unitHeight;
        margin-right: (14.85cm / 2);
         top: 20.4cm;
         left: 4.2cm;
        color: @coul1;
        margin-top: @unitWidth;
      span{
        display: inline-block;
        transform: rotate(-4deg);
      }

      .dates{
        margin-left: -@unitHeight * 3;
      }
      p{
        margin-top: 4mm;
      }
     }
       b{
         font-family: 'Computer Modern Typewriter Variable';
         font-style: italic;
         font-weight:bold;
         vertical-align: middle;
       }
       h7{
         font-family: 'Computer Modern Typewriter Variable';
         font-style: italic;
         font-weight:bold;
         padding: 0;
       }
       em{
         -webkit-text-stroke: 1.0px @coul1;
         -webkit-text-fill-color: white;
         position:absolute;
         z-index: -1;
         margin-top: 1pt;
         margin-left: 1pt;
       }
      .col1{
        top: 11.77cm;
        left: 2.9cm;
        transform: rotate(90deg);
        // text-align: justify;
        font-size: 11.8pt;
        line-height: 1.25;
       .shape{
        width:5.3cm;
        height: 17.5cm;
        margin-top: 4mm;
        opacity: 0;
       }
       .shape1{
        float: left;
        shape-outside: url(img/formeL.png);

       }
       .shape2{
        float: right;
        shape-outside: url(img/formeLR.png);
       }
       .lieu{
          text-align: right;
          margin-left: -20px;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          -o-hyphens: auto;
          hyphens: auto;
        }


      }
      .programme{
        transform: rotate(-90deg);
        position: absolute;
        width: 13cm;
        margin-left: (14.85cm / 2);
        margin-right: (14.85cm / 2);
         top: 12.55cm;
         left: 8.1cm;
        margin-top: @unitWidth;
        color: @coul1;
      .progr{
         transform: rotate(-4deg);
        font-size: 18pt;
        text-align: justify;
         text-align-last:justify;
        z-index: 1;
        margin-left: -1pt;
         margin-top:-29.5pt;
        }
       .prog{
         transform: rotate(-4deg);
          font-size: 18pt;
         -webkit-text-stroke: 1.0px @coul1;
          -webkit-text-fill-color: white;
           text-align: justify;
           text-align-last:justify;
        margin-right: -1pt;
           margin-bottom:0;
        }
      }
      .col2{
        transform: rotate(-90deg);
        left: 24.1cm;
        top: 11.77cm;
      }
      .col3{
        transform: rotate(-90deg);
        top: -3.12cm;
        left: 24.1cm;
      }
      .col4{
        transform: rotate(90deg);
        top: -3.12cm;
        left: 4.75cm;
        div{
          padding: 0;
          width: @posterWidth/3;
          b{
          font-family: 'Computer Modern Typewriter Variable';
          font-style: italic;
          font-weight:bold;
          vertical-align: middle;
        }
        .lieu{
          //  margin-bottom: 252px;

        }
        }
      }
    }
    #poisson{
      display: none;
      .col1{
        top: 44.6cm;
        left: 6.1cm;
        // background: yellow;
        transform: rotate(90deg);
        .img{
          display: block;
          position: fixed;

        }
      }
      .col2{
        transform: rotate(-90deg);
        top: 43.8cm;
        left: 21.7cm;
      }
      .col3{
        transform: rotate(-90deg);
        top: 27.7cm;
        left: 23cm;
      }
      .col4{
        transform: rotate(90deg);
        top: 29.6cm;
        left: 6cm;
        .lieu{
          text-align: right;
        }
        b{
          font-family: 'Computer Modern Typewriter Variable';
          font-style: italic;
          font-weight:bold;
          vertical-align: middle;
        }

      }
    }
  }

  #contentVerso{

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A2 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}

