// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: #7b4b3f;
@coul2: #1e4ea6;

// mettre none aux variables des grilles à cacher
@hideGrids:       none;
@hideBookFolds:   ;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}
@import "fontes/candal-mod/Candal-mod/candal-mod-stylesheet.css";
@import "fontes/Computer Modern/Serif/cmun-serif.css";

//  GLOBAL + GRILLE 
body{
   font-family: 'Candal-mod';
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
     
  }
  #contentRecto{
    position: fixed;
    font-size: 54pt;
    line-height: 1.19;
  
    .contentcontent{
      position: absolute;
      top: 0.6cm;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      .titre, .date, .lieu, .people{
        position: relative;
        z-index: 1;
        color: @coul2;
       
        
      }
      .titre{
         text-align: center;
        text-align-last: center;

margin-left:260px;
          color: @coul2;
        
font-weight: bolder;



      }
      .date{

          color: @coul2;
             margin-top:0%;
             margin-left:120px;

      }
 .lieu{
       text-align: justify;
        text-align-last: justify;
          color: @coul2;
             margin-top:0%;
             margin-left:!0px;
            
    

             
      }b{ 
        font-family: 'Computer Modern Serif';
        font-style: italic;
}
      .people{
        text-align: justify;
        text-align-last: justify;

      }
     
    }
    .contentcontentVerso1 {
      margin-top: 7.4%;
        margin-left: 25%;

    
      position: absolute;
      color: @coul2;
      div{
        ul{
          li{
            span:nth-of-type(1){
              visibility: hidden;
            }
          }
        }
      }
    }
    sup{
       font-size: 10pt;
       font-family: 'Cutive Mono', monospace;
          text-transform: uppercase;
            color: @coul1;
              -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    }
    
    .texteSteph{
      font-size: 10pt;
      position: absolute;
      top: @unitHeight;
      left: @unitWidth;
      color: @coul2;    
      right: @unitWidth;
      text-align: justify;
    }
    .rectangle{
      position: absolute;
      height: 36cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /2) - 1px;
      z-index: 0;
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
