// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: #C9A44B;
@coul2: #00B3A0;


// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        ;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('nanook_bold-webfont.woff') format('woff'),
         url('nanook_bold-webfont.woff') format('woff2');

}

@font-face {
    font-family: 'nanookregular';
    src: url('nanook.ttf') format('ttf'),
         url('nanook.ttf') format('ttf');


}
//  GLOBAL + GRILLE
body{
  font-family: 'nanookbold', 'sans-serif';
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    font-size: 60pt;
    line-height: 1.2;
    img, .marge, .people, .titre, .date, .lieu{
      position: absolute;
    }
    .people{
      z-index: 1
    }
    img{
      left: (@posterWidth - @bookHeight) /2 + @unitWidth * 2;
      top: (@posterHeight / 2 - @bookWidth) + @unitHeight * 2;
      width: @unitWidth * 23;
      height: @unitHeight * 24;
    }
    .titre{
      font-size: 3em;
      top: @unitHeight + 5mm;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      text-align: right;
      line-height: 1;
      z-index: 3;
    }
    .titreEveque{
      margin-right: @unitWidth * 9;
    }
    .date{
      transform: rotate(-90deg);
      transform-origin: left bottom;
      bottom: 15mm;
      left: 38mm;
    }
    .lieu{

    }
    .people{
      font-size: .6em;
      left: @unitWidth;
      bottom: @unitHeight;
      @halfUnit: @unitWidth / 2;
      ul li:before{
        content: '→ ';
      }
      .list2{
        margin-left: @halfUnit;
      }
      .list3{
        margin-left: @halfUnit * 2;
      }
      .list4{
        margin-left: @halfUnit * 3;
      }
      .list5{
        margin-left: @halfUnit * 4;
      }
      .list6{
        margin-left: @halfUnit * 5;
      }
      .list7{
        margin-left: @halfUnit * 6;
      }
      .list8{
        margin-left: @halfUnit * 7;
      }
      .list9{
        margin-left: @halfUnit * 8;
      }
      .list10{
        margin-left: @halfUnit * 9;
      }
      .list11{
        margin-left: @halfUnit * 10;
      }
      .list12{
        margin-left: @halfUnit * 11;
      }
      .list13{
        margin-left: @halfUnit * 12;
      }
      .list14{
        margin-left: @halfUnit * 13;
      }
      .list15{
        margin-left: @halfUnit * 14;
      }
      .list16{
        margin-left: @halfUnit * 15;
      }
      .list17{
        margin-left: @halfUnit * 16;
      }
      .list18{
        margin-left: @halfUnit * 17;
      }
      .list19{
        margin-left: @halfUnit * 18;
      }
      .list20{
        margin-left: @halfUnit * 19;
      }
    }

    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
