// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

// @coul1: #7b4b3f;
// @coul2: #D78E2D;
@coul1: #00B3A0;

@coul2: #7b4b3f;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   none;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

@font-face {
    font-family: 'test';
    src: url('css/fontes/alegreya-sans-ht-full-pack-otf/AlegreyaSans-Medium.otf') format('otf');
}

//  GLOBAL + GRILLE
body{
  font-family:  'youngSerif', 'sans-serif';
  font-style: italic
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;

  }
  #contentRecto{
    position: fixed;
    font-size: 45pt;
    line-height: .86;
    .contentcontent{
      position: absolute;
      top: @unitHeight;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      .titre, .date, .lieu, .people{
        position: relative;
        z-index: 1;
        color: @coul1;
      }
      .titre, .date, .lieu{
  color:@coul2;
background: @coul1;
         text-align: left;
        text-align-last: left;
        font-size: 62pt;
      }
      h1{
font-family:'courier';
        color:@coul2;
         background: @coul1;
       margin-left:0%;
            font-size: 42pt;
            line-height:.4em;
        text-align: left;
        text-align-last: left;
      }
       h2{
   font-family:'courier';
        color:@coul1;
    
           font-size: 42pt;
            line-height:.4em;
            background: @coul2;
            
        
      }
      
      
      .people{
         font-size: 52pt;
         text-align: left;
        text-align-last: left;


       
  font-family: 'youngSerif';
      }
    }
        .contentcontent{
      margin: - @unitWidth;
   
      position: absolute;
      color: @coul1;
      width: @posterWidth - @unitWidth * 2;
     
      div{
        ul{
          li{
            span:nth-of-type(2){
              visibility: hidden;

            }
          }
        }
      }
    }
    .contentcontentVerso1{
  
      margin: @unitWidth;
      position: absolute;
      color: @coul2;
      div{
        ul{
          li{
            span:nth-of-type(1){
              visibility: hidden;
            }
          }
        }
      }
    }
    .contentcontentVerso2{
      margin: - @unitWidth;
   
      position: absolute;
      color: @coul2;
  
      text-align: left;
      div{
        ul{
          li{
            span:nth-of-type(2){
              visibility: hidden;

            }
          }
        }
      }
    }
        .contentcontentVerso3{
      margin: - @unitWidth;
   
      position: absolute;
      color: @coul2;
      width: @posterWidth - @unitWidth * 2;
      text-align: right;
      div{
        ul{
          li{
            span:nth-of-type(2){
              visibility: hidden;

            }
          }
        }
      }
    }
    .rectangle{
      position: absolute;
      height: 36cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /2) - 1px;
      z-index: 0;
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }
.bgOr{
      position: absolute;
  top:30px;
left:70px;
      width: (@unitWidth * 33);
      z-index: 11;
          display: none;
     
     
    }
    .bgOr1{
      position: absolute;

      width: (@unitWidth * 13);
       z-index: 1;
       display: none;
     
    }
// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
  outline: none;
  color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
