// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: #C9A44B;
@coul2: #00B3A0;


// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   none;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');

}
@font-face {
    font-family: 'dauphine';
    src: url('dauphine-webfont.woff') format('woff'),
         url('dauphine-webfont.eot') format('eot');
}
@font-face {
    font-family: 'savate';
    src: url('savate-regular-webfont.woff') format('woff'),
         url('savate-regular-webfont.eot') format('eot');
}
@font-face {font-family: 'PT Serif'; 
  src: url('ptf55f_w.eot'); 
  src: local('PT Serif'), url('ptf55f_w.eot?#iefix') format('embedded-opentype'), url('ptf55f_w.woff') format('woff'),url('ptf55f_w.ttf') format('truetype'), url('ptf55f_w.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif'; 
  font-style: italic;
  src: url('ptf56f_w.eot'); 
  src: local('PT Serif Italic'), url('ptf56f_w.eot?#iefix') format('embedded-opentype'), url('ptf56f_w.woff') format('woff'),url('ptf56f_w.ttf') format('truetype'), url('ptf56f_w.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
  src: url('ptf75f_w.eot');
  font-style: normal;
  font-weight: bold; 
  src: local('PT Serif Bold'), url('ptf75f_w.eot?#iefix') format('embedded-opentype'), url('ptf75f_w.woff') format('woff'),url('ptf75f_w.ttf') format('truetype'), url('ptf75f_w.svg#PTSerif-Bold') format('svg');}

@font-face {font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold; 
  src: url('ptf76f_w.eot'); 
  src: local('PT Serif Bold Italic'), url('ptf76f_w.eot?#iefix') format('embedded-opentype'), url('ptf76f_w.woff') format('woff'),url('ptf76f_w.ttf') format('truetype'), url('ptf76f_w.svg#PTSerif-BoldItalic') format('svg');}

@font-face {font-family: 'PT Serif Caption'; 
  src: url('ptz55f_w.eot');
  src: local('PT Serif Caption'), url('ptz55f_w.eot?#iefix') format('embedded-opentype'), url('ptz55f_w.woff') format('woff'),url('ptz55f_w.ttf') format('truetype'), url('ptz55f_w.svg#PTSerif-Caption') format('svg');}

@font-face {font-family: 'PT Serif Caption';
  font-style: italic; 
  src: url('ptz56f_w.eot');
  src: local('PT Serif Caption Italic'), url('ptz56f_w.eot?#iefix') format('embedded-opentype'), url('ptz56f_w.woff') format('woff'),url('ptz56f_w.ttf') format('truetype'), url('ptz56f_w.svg#PTSerif-CaptionItalic') format('svg');}


//  GLOBAL + GRILLE
body{
  font-family: 'PT Serif Bold', 'sans-serif';
  margin: 10px;

  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    position: fixed;
    font-size: 60pt;
    line-height: 1.16;
    color: @coul1;
    .contentcontent{
      position: absolute;
         color: @coul1;
      top: @unitHeight;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      .titre, .date, .lieu, .people{
        position: relative;
        z-index: 1;
          color: @coul1;
      }
      .titre, .date, .lieu{
        text-align: justify;
        text-align-last: justify;
      }
      .people{
        text-align: justify;
        text-align-last: justify;
       color: @coul1;
        // margin-left: 3.2cm;
        
      }
    }
    .rectangle{
      position: absolute;
      height: 36cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /2) - 1px;
      // background: white;
      z-index: 0;
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }.bgOr{
      position: absolute;
  top:-30px;
left:-2030px;
      width: (@unitWidth * 120);
          -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

